.navbar{
  /* float: left; */
  /* display: block; */
  position: relative;

}
.small_col{
  width: 30%;
  float: left;
  background: rgb(206, 34, 57)
}
.medium{
  width: 30%;
  float: left;
  background: rgb(150, 156, 173)

}
